# Extension Files
*.pyc

# Folders
setup/
.vscode/
venv/
venv_cpu/
venv_gpu/
venv_cpu(note)/

# Especific Files
external_production_received\Identification\Tutorial_1.docx
external_production_received\Training_digits\Tutorial_2.docx